* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #26324C, #2F4C6C);
    height: 100vh;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
}

.navtool {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr auto; 
    justify-content: center;
    align-items: center;
    margin: auto;
}

.depart {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: #f7f2f2;
}

#clock {
    color: white;
}

.flights {
    padding: 0 30px 0 30px;
    background-color: rgba(255, 255, 255, 0.086);
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-top: 30px;
    border-color: white;
    border-radius: 10px;
}

.flightnumber {
    padding: 30px 0 30px 0;
    line-height: 27px;
    color: rgb(255, 242, 56);
}

.destination {
    padding: 30px 0 30px 0;
    line-height: 27px;
    color: white;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.flighthour {
    padding: 30px 0 30px 0;
    line-height: 27px;
    color: white;
    display: flex;
    flex-direction: column;
}

.flightstatus {
    padding: 30px 0 30px 0;
    line-height: 27px;
    color: #7CC508;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

li:nth-child(even) {
    background-color: #26324C; /* Cor de fundo para itens pares */
}

li:nth-child(odd) {
background-color: #2F4C6C; /* Cor de fundo para itens ímpares */
}

.flightnumber > li {
    text-align: center;
}
